@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1D2939;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-*: initial;
  --font-outfit: Outfit, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

button{
  cursor: pointer;
}